{form name="addpipe_settings"}
	<table class="ow_table_1 ow_form">
	    <tr class="ow_tr_first">
	        <th class="ow_name ow_txtleft" colspan="3">
	            <span class="ow_section_icon ow_ic_gear_wheel">{text key="addpipe+admin_settings_section_label"}</span>
	        </th>
	    </tr>

        <!-- accountHash -->
	    <tr class="{cycle values='ow_alt1, ow_alt2'} ow_tr_last">
            <td class="ow_label">
	    		{text key="addpipe+admin_settings_accountHash_label"}
	    	</td>
            <td class="ow_value">
	    		{input name='accountHash'}<br />
	    		{error name='accountHash'}
	    	</td>
            <td class="ow_desc">
                {text key="addpipe+admin_settings_accountHash_desc"}
            </td>
	    </tr>

        <!-- videoDuration -->
        <tr class="{cycle values='ow_alt1, ow_alt2'} ow_tr_last">
            <td class="ow_label">
                {text key="addpipe+admin_settings_videoDuration_label"}
            </td>
            <td class="ow_value">
                {input name='videoDuration'}<br />
                {error name='videoDuration'}
            </td>
            <td class="ow_desc">
                {text key="addpipe+admin_settings_videoDuration_desc"}
            </td>
        </tr>

        <!-- videoQuality -->
        <tr class="{cycle values='ow_alt1, ow_alt2'} ow_tr_last">
            <td class="ow_label">
                {text key="addpipe+admin_settings_videoQuality_label"}
            </td>
            <td class="ow_value">
                {input name='videoQuality'}<br />
                {error name='videoQuality'}
            </td>
            <td class="ow_desc">
                {text key="addpipe+admin_settings_videoQuality_desc"}
            </td>
        </tr>

	</table>
	<div class="clearfix ow_smallmargin">
	<div class="ow_right">
		 {submit name="submit" class="ow_ic_save"}
	</div>
</div>
{/form}