{literal}
<style type="text/css">
    #accountHashCheck-missing {
        color: red;
        font-weight: bold;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 15px 15px;
        text-align: center;
    }
    .small {
        text-align: left;
        padding-top: 10px;
        font-size: 9px;
    }
</style>

<div style="width: 100%" id="main-wrap">

    <!-- Check if user has any recorded videos -->
    <script type="text/javascript">
        {/literal}{$hasVideo}{literal}
    </script>
    
    <!-- Start AddPipeJS -->
    <script type="text/javascript">
        var size = {
            width:{/literal}{$videoWidth}{literal},
            height:{/literal}{$videoHeight}{literal}
        };
        var flashvars = {
            qualityurl: "avq/{/literal}{$videoQuality}{literal}.xml",
            accountHash:"{/literal}{$accountHash}{literal}",
            showMenu:"true",
            mrt:{/literal}{$videoDuration}{literal},
            payload: "{/literal}{$accountHash}{literal},{/literal}{$userID}{literal}"
        };

        (function() {var pipe = document.createElement('script'); pipe.type = 'text/javascript'; pipe.async = true;pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's1.addpipe.com/1.3/pipe.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pipe, s);})();

        /*
            Check if the accountHash has been filled
         */
        if (flashvars.accountHash.length < 10) {
            document.getElementById('main-wrap').innerHTML += "<div id=\"accountHashCheck-missing\"></div>";
            document.getElementById('accountHashCheck-missing').innerText = 'Missing accountHash. Your video will not work properly. Please contact the site owner.';
        } else {
            document.getElementById('main-wrap').innerHTML += "<div id=\"hdfvr-content\"></div>";
        }
    </script>

    <div class="small">
        <a href="https://addpipe.com/?utm_source=oxwall-skadate-plugin&utm_medium=powered-by-link&utm_content=powered-by-link&utm_campaign=addpipe-integration" target="_blank">Video recording powered by AddPipe.com</a>
    </div>
</div>
{/literal}